<div class="all-container" style="margin-bottom: 85px;">
<% @club.videos.each do |video| %>
 <div class="video-container" style="border-bottom: 1px solid white">
    <video autoplay muted loop src="
      <%= cl_video_path video.video %>
    "></video>
  </div>
<% end %>
</div>

<!-- width="460" height="290" -->
