<h1><%= @club.name %></h1>

<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#comments" data-toggle="tab">Live feed</a></li>
    <li><a href="#videos" data-toggle="tab">Streams</a></li>
    <li><a href="#description" data-toggle="tab">Details</a></li>
  </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active"  id="comments">
         <div class="comment-flex">
           <% @club.comments.each do |comment| %>
             <div>
             <p><%= comment.content %></p>
             </div>
             <div class="comment-image">
             <%= cl_image_tag comment.user.photo ,  height: 50, width: 50, crop: :thumb ,class: "img-circle" %>
             </div>
           <% end %>
         </div>

      </div>
      <div class="tab-pane" id="videos">
        <p>this is for the videosssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>

      </div>
      <div class="tab-pane" id="description">
        <p>this id for the description</p>

      </div>

    </div>



</div>




