<% @user.favorites.each do |favorite| %>
  <div>
    <%= favorite.club.name %>
  </div>
<div>
  <div class="center-img" style="background-image: url('<%= favorite.club.photo %>')"></div>
</div>
  <% end %>

