<% @user.favorites.each do |favorite| %>
  <div>
    <%= favorite.club.name %>
  </div>
<div>
  <div class="club-card">
  <%= cl_image_tag favorite.club.photo, width: 400, crop: :fill%>
  </div>
</div>
  <% end %>

