<div id="footer">
  <div class="footer-icons">
    <i class="fas fa-search-location"></i>
    <p>search</p>
  </div>
  <div class="footer-icons">
    <i class="fas fa-heart"></i>
    <p>favorites</p>
  </div>
  <div class="footer-icons">
    <i class="fas fa-ticket-alt"></i>
    <p>admission</p>
  </div>
  <div class="footer-icons">
    <i class="fas fa-user-alt"></i>
    <p>profile</p>
  </div>
</div>


