<div class="homepage">
  <!-- The form -->
<<<<<<< HEAD
<<<<<<< Updated upstream
<div class="homepage-background">
=======

<div id="club_xp-logo">
>>>>>>> Stashed changes
=======

<div id="club_xp-logo">


>>>>>>> 693b726246999ca288570568332158e40ef0176a
    <!-- image of logo -->
    <%= image_tag 'clubxp_v2.png' %>
</div>
<<<<<<< HEAD
<<<<<<< Updated upstream
=======


<div id="homepage-cta">
>>>>>>> Stashed changes
=======
<div id="homepage-cta">
>>>>>>> 693b726246999ca288570568332158e40ef0176a

  <div class="homepage_text">
    <h2>See What's Happening Live...</h2>
  </div>


  <div class="search-box">
    <form class="example" action="/clubs">
      <input type="text" placeholder="Postal code or City" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

</div>

</div>



