<div class="homepage">

  <!-- The form -->

<div id="club_xp-logo">


    <!-- image of logo -->
    <%= image_tag 'clubxp2.png' %>
</div>
<div id="homepage-cta">

  <div class="homepage_text">
    <h2 class="text-white">See whats happening Inside...</h2>
  </div>

  <div class="search-box">
<!--     <form class="example" action="/clubs">
      <input type="text" placeholder="...what city are you in?" name="address">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form> -->

  <!-- new search bar -->
  <div class="search-bar">
      <form action="/clubs">
        <input id="search-bar-input" placeholder="...what city are you in?"  type="text" name="address" autocomplete="off"/>
        <div class="after"></div>
        <input type="submit" />
      </form>
      <h4>&nbsp;</h4>
    </div>

  </div>
  <div class="log-in-btn-container">
  <br>
  <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-club_xp-item navbar-club_xp-link log-in-btn" %>
  <%= link_to t(".sign_in", default: "Sign-Up?"), new_user_registration_path, class: "navbar-club_xp-item navbar-club_xp-link log-in-btn" %>
  </div>
</div>


<script type="text/javascript">
  // EXPERIMENTING WITH THE SEARCHBAR
document.addEventListener("DOMContentLoaded", (e) => {
  console.log("content loaded")
    var s = $('input'),
    f  = $('form'),
    a = $('.after'),
    m = $('h4');

    s.focus(function(){
      if( f.hasClass('open') ) return;
      f.addClass('in');
      setTimeout(function(){
        f.addClass('open');
        f.removeClass('in');
      }, 1300);
    });

    a.on('click', function(e){
      e.preventDefault();
      if( !f.hasClass('open') ) return;
      s.val('');
      f.addClass('close');
      f.removeClass('open');
      setTimeout(function(){
        f.removeClass('close');
      }, 1300);
    })

  });
  // setTimeout(() => {
    // console.log("clicking")
    // document.querySelector('.after').click();
  // }, 1000)
</script>
