<div class="homepage">
  <!-- The form -->
<<<<<<< Updated upstream
<div class="homepage-background">
=======

<div id="club_xp-logo">
>>>>>>> Stashed changes
    <!-- image of logo -->
</div>
<<<<<<< Updated upstream
=======


<div id="homepage-cta">
>>>>>>> Stashed changes

<div class="homepage_text">
    <h2>See What's Happening Live...</h2>

</div>

<div class="search-box">
  <form class="example" action="/clubs">
    <input type="text" placeholder="Enter City..." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>

</div>



