.entrance-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.entrance-label {
  font-size: 25px;
  margin-right: 15px;
}

.price-label {
  font-size: 22px;
  color: white;
}

.plus-minus-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-minus-btns {
  font-size: 30px;
  color: #f7b633;
}

.admit-amount {
  color: white;
  width: 100px;
}

.pay-btn-container {
  display: flex;
  justify-content: center;
}

.pay-btn {
  background-color: #10316b;
  color: #f7b633;
  padding: 10px 80px;
  font-size: 23px;
  line-height: 1.33333;
  border-radius: 8px;
  border: none;
}

.pay-with-card-btn-container {
  display:flex;
  align-items: center;
  margin-left: 15px;

}

.hide-stripe-btn-container {
  display: none;
  position: fixed;
  top: 50vh;
}
.back-to-club-btn {
  background-color: #10316b;
  color: #fff;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 8px;
  border: none;
}
.back-to-club {
  display: flex;
  justify-content: flex-end;
}

.line {
  margin: 15px;
  width: 93vw;
  border-bottom: 1px solid #f7b633;
}

.summary-container {
  display: flex;
  justify-content: space-evenly;
  width: 92vw;
}

.confirmation-pay-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  font-size: 28px;
}

.date-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

