/* Main navbar */
.navbar-club_xp {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgba(4, 20, 44, 0.4);
  position: fixed;
  width: 100vw;
  transition: all 0.3s ease;
  height: 43px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;

a {
  text-decoration: none;
  color: white;
  font-size: 28px;
  }
}

.show-flaticon {
  width: 28px;
  margin-top: 10px;
  filter: invert(1);
}

.show-flaticon-like {
  width: 28px;
  margin-top: 10px;
  filter: invert(48%) sepia(100%) saturate(210%) hue-rotate(1075deg) brightness(118%) contrast(119%);}

.dwn-btn {
  font-size: 45px;
  color: white;

}/* Logo */
.navbar-club_xp-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-club_xp .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-club_xp-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-club_xp-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-club_xp-link {
  color: #616668;
  font-size: 14px;
}
.navbar-club_xp-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Logo */
.navbar-club_xp-brand img {
 height: 50px;
}

/* User Avatar */
.navbar-club_xp .avatar {
 height: 35px;
 width: 35px;
 border-radius: 50%;
}

/* Right section */
.navbar-club_xp-right {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

/* Basic navbar item */
.navbar-club_xp-item {
 cursor: pointer;
 padding: 0 20px;
}

/* Navbar link */
.navbar-club_xp-link {
 color: #616668;
 font-size: 14px;
}
.navbar-wagon-link:hover {
 color: #da552f;
 text-decoration: none;
}

/* Dropdown menu */
.navbar-club_xp-dropdown-menu {
  position: fixed;
  top: 38px;
  left: 0px;
  opacity: 0.9;
  min-width: 130px !important;
  border-radius: 0px 0px 25px 25px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  li {
    // border-bottom: 1px solid white;
    padding: 10px;
  }
}

/* Dropdown menu */

.navbar-club_xp-dropdown-menu li > a {
 transition: color 0.3s ease;
 font-weight: lighter !important;
 color: #f7b633 !important;
 font-size: 22px !important;
 line-height: 22px !important;
 padding: 10px 20px;
}
.navbar-club_xp-dropdown-menu li > a:hover {
 background: transparent !important;
 color: black !important;
}

