.avatar-info-container{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.avatar-img {
  margin-top: 80px;
}

.user-info {
  font-weight: bold;
  color: white;
  margin-top: 80px;
}

#club-imgs {
  width: 100%;
}
