.nav-tabs {
  border-bottom: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
 {
  background: none;
  color: white;
  border: none;
  border-bottom: 1px solid white;
}

.nav-tabs > li > a {
  color: $med-gray;
  border: none;
  border-bottom: 1px solid $med-gray;

  &:hover {
  color: white;
  border-bottom: 1px solid white;
  }
}

