#club-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  top: 0;
}

#description {
  margin-bottom: 120px;
}
// .club-rating {
//   margin-top: 20px;
// }

.cmt-btn {
  height: 45px;
  width: 75px;
  margin-bottom: 15px;
  border-radius: 0px 5px 5px 0px;
  font-size: 24px;
  color: #f7b633;
  background-color: $darkblue;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid $darkblue;

}
.comment-container{
  display: flex;
  position: relative;
  background: #04142C;
  align-items: center;
  justify-content: space-between;
  margin: 15px 15px;
  border-radius: 5px;
  padding: 10px;
  // padding-right: 15px;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.2), 0px 3px 20px rgba(255, 255, 255, 0.5);
}

.flex-container-content{
  margin-left: 10px;
  width:170px ;
}

.flex-container-img{
  display: flex;
  margin-left: 10px;
}

.comment-time-container {
  display: flex;
  position: absolute ;
  top: 1px;
  right: 10px;
  height: 50px;
  width: 70px;
  font-size: 13px;
  flex-direction: column-reverse;
}

.img-circle{
  border: 2px solid white;
}

.container{
  height: 600px;
  margin-top:margin 15px;
  overflow: scroll;
}

.center-img{
  background-size: cover;
  width: 100%;
  height: 240px;
}

.padding-show-h1{
  margin-bottom: 15px;
}

#map-link-fix{
  margin-bottom: 15px;
  color:#F2B760;
}

.text-white{
  color:white;
}
.text-neon {
  color: #4d4dff;
}

.text-gold {
  color:#f7b633 !important;
}

.hide {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 400ms ease-in-out;
}

.visible {
  display: block !important;
  height: auto !important;
}
 .mapboxgl-canvas {
  width: 100vw !important;
  height: 240px !important;
 }
// .padding-left {
//   padding-left: 6%;
//   margin-bottom: 3%;
// }

form#new_comment {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 0px 15px;
  .form-control {
    padding: 4px 10px;
    border-radius: 5px 0 0 5px;
    height: 45px;
  }
  label {
    display: none;
  }
  .comment_content {
    flex: 0 0 80%;
    height: 46px;
  }
  input[type="submit"] {
    width: 20%;
    height: 45px;
    margin-bottom: 15px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #10316b;
  }
}
