<h3 class="text-gold margin-15px-left"><strong>Services:</strong></h3>
<br>
<h4 class="text-white margin-15px-left" style="font-size: 32px"><strong><%= @club.name %></strong></h4>
<br>
<h5 class="text-gold margin-15px-left"><strong>Details</strong></h5>
<ul class="text-white">
  <li><strong>VIP Tables</strong></li>
  <br>
  <li><strong>Bottle Service by Kanga</strong></li>
  <br>
  <li><strong>Valet Parking</strong></li>
  <br>
  <li><strong>Winter Coat Service</strong></li>
</ul>



