<h3 class="text-gold margin-15px-left"><%= @club.name %></h3>
<br>
<ul class="text-white">
  <li><strong>VIP Tables</strong></li>
  <br>
  <li><strong>Bottle Service by Kanga</strong></li>
  <br>
  <li><strong>Valet Parking</strong></li>
  <br>
  <li><strong>Winter Coat Service</strong></li>
</ul>



