<h3 class="text-gold margin-15px-left"><%= @club.name %></h3>
<br>
<ul>
  <li class="text-white"><strong>VIP Tables</strong></li>
  <br>
  <li class="text-white"><strong>Bottle Service by Kanga</strong></li>
  <br>
  <li class="text-white"><strong>Valet Parking</strong></li>
  <br>
  <li class="text-white"><strong>Winter Coat Service</strong></li>
</ul>



